.card-img,
.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card {
  border: 0;
  position: relative;
  cursor: pointer;
  padding-top:10px;
}
.bookList__image-container {
  height: 250px;
}
.card-body {
  padding: 10px;
}
.card-title {
  font-size: 13px;
  font-weight: 700;
  min-height: 70px;
}
.bookList__price {
  /* display: none; */
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  color: #008575;
  display:flex;
}
.bookList__price h5 {
  font-size: 18px;
  font-weight: 700;
}
.card:hover .bookList__price {
  display: flex;
}
/* .card:hover .card-title {
  display: none;
} */

.bookList__title {
  /* color:#008575; */
  position: relative;
  margin-bottom: 40px;
}
.bookList__title::after {
  content: "";
  position: absolute;
  background-color: #008575;
  bottom: -10px;
  left: 0;
  width: 40px;
  height: 3px;
}
.icon-cursor {
  cursor: pointer;
}
/* .selected {

border: 1px solid #008575;
position: relative;
} */
/* .selected::after{
content:"";
position:absolute;
height:100%;
width:100%;
background-color:#0085760e ;
top:0;
left:0
} */
.comments__window{
  z-index:2;
  position: absolute;
  width:20%;
  background:white;
  top:0;
  right: 0;
  height:100%;
  border-left: 1px solid lightblue;

}

.comments__window .MuiSvgIcon-root:first-child{
  cursor: pointer;
}